body{
    display: grid;

    width: 100%;
    padding: 0px;
    margin: 0px;
}
/* this is the css code for the title area of the page */

.roll20{
    display: grid;
    
    
}
#intro{
    justify-self: center;

    margin-bottom: 75px;
}

/* this is the css code for the roll20 page */

.content{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(225px,1fr));
    column-gap: 15px;

}

/* this is the css code for the d20 */


#d20icon{
    height: 200px;
    width:200px;

}
#error{
    display:none;
    
}

/* this is the css code for the d12 */
#d12icon{
    height: 200px;
    width: 200px;
}
/* this is the code for the d10 */

#d-10{
    height: 200px;
    width:200px;
}


/* this is the cod efor the d8 */
#d-8{
    height: 200px;
    width: 200px;
}


/* this is the code for the d6 */

#d-6{
    height: 200px;
    width: 200px;

}

/* this is the code for the d4 */

#d-4{
    height: 200px;
    width: 200px;

}